.donut {
  position: relative;
  width: 800px;
  margin: auto;

  &--container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 40%;
  }
  &--main-value {
    font-weight: bold;
    font-size: 28px;
  }
}